<template>
  <div class="main-container">
    <div class="import-container" v-show="showImportForm">
      <import-form @import-done="showImportForm = false" />
    </div>
    <div v-show="showSearchForm">
      <search-place />
    </div>
    <div class="map-container">
      <map-comp></map-comp>
      <ul>
        <li><o-button @click="toggleSearch">Search</o-button></li>
        <li><o-button @click="addMarker">Add</o-button></li>
        <li><o-button @click="toggleImport">Import</o-button></li>
        <li><o-button @click="exportPlaces">Export</o-button></li>
        <li><o-button @click="fit">Fit the map</o-button></li>
      </ul>
    </div>
    <div>
      <my-places></my-places>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import MapComp from '@/components/Map.vue'
import ImportForm from '@/components/ImportForm.vue'
import SearchPlace from '@/components/SearchPlace.vue'
import MyPlaces from '@/components/MyPlaces.vue'
import { mapStores } from 'pinia'
import { usePlacesStore } from '@/stores/places'
import type { LatLngExpression } from 'leaflet'

import appService from '@/services/appService'

export default defineComponent({
  data() {
    return {
      showSearchForm: false,
      showImportForm: false
    }
  },
  computed: {
    ...mapStores(usePlacesStore)
  },
  methods: {
    addMarker() {
      this.placesStore.newPlace(this.placesStore.centerMap as LatLngExpression)
    },
    toggleSearch() {
      this.showSearchForm = !this.showSearchForm
    },
    toggleImport() {
      this.showImportForm = !this.showImportForm
    },
    exportPlaces() {
      appService.exportPlaces()
    },
    fit() {
      const myFeat = this.$refs.myfeat as any
      const bounds = myFeat.leafletObject.getBounds()
      // FIXME: below not working, not know why
      // let maxLng = -180,
      //   minLng = 180,
      //   maxLat = -90,
      //   minLat = 90
      // this.placesStore.places.forEach((place) => {
      //   if (place.position.lat > maxLat) {
      //     maxLat = place.position.lat
      //   }
      //   if (place.position.lat < minLat) {
      //     minLat = place.position.lat
      //   }
      //   if (place.position.lng > maxLng) {
      //     maxLng = place.position.lng
      //   }
      //   if (place.position.lng < minLng) {
      //     minLng = place.position.lng
      //   }
      // })
      // console.log(maxLat, minLat, maxLng, minLng)
      // const bounds1 = new LatLngBounds([
      //   [minLat, maxLng],
      //   [maxLat, minLng]
      // ])
      const mapObj = this.$refs.map as any
      mapObj.leafletObject.fitBounds(bounds)
    }
  },
  components: {
    MapComp,
    ImportForm,
    SearchPlace,
    MyPlaces
  }
})
</script>

<style>
.main-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.map-container {
  display: flex;
  flex-direction: row;
}

.search-container .input {
  flex: 2 200px;
}
.search-container .button {
  flex: 1;
}
</style>
