<template>
  <div class="main-container">
    <map-comp readonly></map-comp>
    <my-places></my-places>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import MapComp from '@/components/Map.vue'
import MyPlaces from '@/components/MyPlaces.vue'

export default defineComponent({
  data() {
    return {}
  },
  methods: {},
  components: {
    MapComp,
    MyPlaces
  }
})
</script>
