<template>
  <o-field>
    <o-upload v-model="content">
      <o-button tag="a" variant="primary">
        <o-icon icon="upload" />
        <span>Click to upload</span>
      </o-button>
    </o-upload>
  </o-field>
  <o-field label="Uploaded file">
    <span v-if="content" class="file-name">
      {{ content.name }}
    </span>
  </o-field>
  <o-field>
    <o-button @click="upload">Import</o-button>
  </o-field>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import appService from '@/services/appService'

export default defineComponent({
  emits: ['import-done'],
  data() {
    return {
      content: {} as File
    }
  },
  methods: {
    upload() {
      console.log('up')
      appService.importPlaces(this.content)
      this.$emit('import-done')
    }
  }
})
</script>
