<!--
  Need :use-global-leaflet="false"
  workaround for project created using vite (npm create vue@latest)

  https://github.com/vue-leaflet/vue-leaflet/issues/278#issuecomment-1448388783
-->
<template>
  <div style="height: 600px; width: 800px">
    <l-map
      ref="map"
      :zoom="zoom"
      :center="placesStore.centerMap"
      :use-global-leaflet="false"
      @update:center="updateCenterMap"
      :options="{ attributionControl: false }"
    >
      <l-tile-layer
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        layer-type="base"
        name="OpenStreetMap"
      ></l-tile-layer>
      <l-feature-group ref="myfeat">
        <l-marker
          ref="mark"
          :draggable="place.id == placesStore.editPositionPlace"
          v-for="place in placesStore.places"
          :key="place.id"
          :lat-lng="place.position"
          @update:latLng="updateMarkerPos"
        >
          <l-popup>
            <place-form :place="place" @saved="closePopup(place)" :readonly="readonly"></place-form>
          </l-popup>
        </l-marker>
      </l-feature-group>
    </l-map>
  </div>
</template>

<script lang="ts">
import 'leaflet/dist/leaflet.css'
import { LMap, LTileLayer, LMarker, LPopup, LFeatureGroup } from '@vue-leaflet/vue-leaflet'
import { defineComponent } from 'vue'
import { mapStores } from 'pinia'
import { usePlacesStore } from '@/stores/places'
import { type LatLngExpression, type PointExpression } from 'leaflet'
import PlaceForm from '@/components/PlaceForm.vue'
import { PlaceStatus, type Place } from '@/models/Place'

export default defineComponent({
  props: {
    readonly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      zoom: 10,
      coords: [46.0675, 11.1154] as L.LatLngExpression
    }
  },
  computed: {
    ...mapStores(usePlacesStore)
  },
  methods: {
    updateCenterMap(newCenter: LatLngExpression) {
      this.placesStore.centerMap = newCenter as PointExpression
    },
    updateMarkerPos(latLng: LatLngExpression) {
      this.placesStore.editPositionMarker = latLng
    },
    closePopup(place: Place) {
      const idx = this.placesStore.places.indexOf(place)
      place.status = PlaceStatus.Save
      this.placesStore.places[idx] = place
      const mapObj = this.$refs.map as any
      mapObj.leafletObject.closePopup()
    }
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    PlaceForm,
    LFeatureGroup
  }
})
</script>

<style></style>
