<template>
  <h2>My places</h2>
  <o-table :data="placesStore.places">
    <o-table-column v-slot="{ row }" label="Name">
      {{ row.name }}
    </o-table-column>
    <o-table-column v-slot="{ row }" label="Description">
      {{ row.description }}
    </o-table-column>
    <o-table-column v-slot="{ row }" label="Actions">
      <o-button @click="zoomInMap(row)">zoom</o-button>
    </o-table-column>
  </o-table>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { mapStores } from 'pinia'
import { usePlacesStore } from '@/stores/places'
import { Place } from '@/models/Place'

export default defineComponent({
  data() {
    return {
      myplaces: [] as Place[]
    }
  },
  mounted() {
    this.myplaces = this.placesStore.places
  },
  computed: {
    ...mapStores(usePlacesStore)
  },
  methods: {
    zoomInMap(place: Place) {
      this.placesStore.centerMap = [place.position.lat, place.position.lng]
    }
  }
})
</script>
