<template>
  <nav>
    <ul>
      <li><router-link to="editor">Editor</router-link></li>
      <li><router-link to="Viewer">Viewer</router-link></li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({})
</script>

<style>
ul {
  list-style-type: none;
  margin-left: 5px;
  padding: 0;
  width: 150px;
}
li {
  padding: 2px;
}
li a {
  display: block;
}
.router-link-active {
  background-color: rgb(85, 163, 20);
}
</style>
