<template>
  <div class="form-container">
    <o-field label="Name">
      <span v-show="viewOnly || readonly">{{ name }}</span>
      <o-input type="text" v-model="name" v-show="!viewOnly && !readonly"></o-input>
    </o-field>
    <o-field label="Description">
      <span class="description" v-show="viewOnly || readonly">{{ description }}</span>
      <o-input type="textarea" v-model="description" v-show="!viewOnly && !readonly"></o-input>
    </o-field>
    <o-field label="Dates">
      <ul>
        <li v-for="d in orderedDates" :key="d.getTime()">
          {{ formatDate(d) }}
          <o-button
            @click.stop="removeDate(d)"
            size="small"
            variant="danger"
            label="X"
            v-show="!viewOnly && !readonly"
          ></o-button>
        </li>
      </ul>
    </o-field>
    <o-button
      @click="showAddDate = true"
      v-show="!viewOnly && !readonly && !showAddDate"
      size="small"
      label="Add date"
    ></o-button>
    <o-field label="Select a date" v-show="showAddDate">
      <o-datepicker
        v-model="date"
        :show-week-number="false"
        locale="it-IT"
        placeholder="Click to select..."
        icon="calendar"
        trap-focus
      />
    </o-field>
    <o-button @click="addDate" v-show="showAddDate">Add</o-button>
    <hr />
    <div class="button-group" v-show="!readonly">
      <o-button v-if="place.status == createStatus || editMode" @click.prevent="save" size="small">
        Save
      </o-button>
      <o-button v-else @click.stop="prepareEdit" size="small">Edit</o-button>
      <o-button
        style="margin-left: 1px"
        @click.prevent="showConfirmDelete = true"
        size="small"
        label="Delete"
      ></o-button>
      <a href="#" style="margin-left: 1px" @click.prevent="remove" v-show="showConfirmDelete"
        >confirm</a
      >
      <o-button style="margin-left: 1px" @click.stop="editPosition" size="small">Drag</o-button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { Place, PlaceStatus } from '@/models/Place'
import { mapStores } from 'pinia'
import { usePlacesStore } from '@/stores/places'
import type { LatLng, LatLngExpression } from 'leaflet'
import utils from '@/utils/utils'

export default defineComponent({
  emits: ['saved'],
  props: {
    place: {
      type: Place,
      default: new Place(
        new Date().toISOString(),
        '',
        PlaceStatus.Create,
        '',
        [0, 0] as LatLngExpression as LatLng,
        []
      )
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      name: this.place.name,
      description: this.place.description,
      createStatus: PlaceStatus.Create,
      editMode: false,
      showConfirmDelete: false,
      date: new Date(),
      editedDates: this.place.dates,
      showAddDate: false
    }
  },
  computed: {
    ...mapStores(usePlacesStore),
    viewOnly() {
      return this.place.status === PlaceStatus.Save && !this.editMode
    },
    orderedDates() {
      const dates = this.place.dates
      return dates.sort((a: Date, b: Date) => a.getTime() - b.getTime())
    }
  },
  methods: {
    formatDate(d: Date) {
      return utils.formatDate(d)
    },
    save() {
      const position =
        this.place.id == this.placesStore.editPositionPlace
          ? this.placesStore.editPositionMarker
          : this.place.position
      const editedPlace = new Place(
        this.place.id,
        this.name,
        PlaceStatus.Save,
        this.description,
        position as LatLng,
        this.editedDates
      )

      this.placesStore.savePlace(editedPlace)
      this.editMode = false
      this.placesStore.cleanEditPosition()
      this.$emit('saved')
    },
    prepareEdit() {
      this.editMode = true
    },
    remove() {
      this.placesStore.removePlace(this.place)
      this.showConfirmDelete = false
    },
    editPosition() {
      console.log('edit position')
      this.placesStore.editPositionPlace = this.place.id
      this.$emit('saved')
    },
    removeDate(d: Date) {
      const idx = this.place.dates.indexOf(d)
      this.editedDates.splice(idx, 1)
    },
    addDate() {
      this.editedDates.push(this.date)
      this.date = new Date()
      this.showAddDate = false
    }
  }
})
</script>

<style>
.form-container {
  display: inline-block;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}
.button-group {
  margin-top: 2px;
  display: flex;
}
.description {
  padding: 5px;
}
</style>
