<template>
  <div class="search-container">
    <o-field>
      <o-input placeholder="Search..." type="search" icon="search" v-model="toSearch" />
      <o-button variant="primary" label="Search" @click="search" />
    </o-field>
    <o-table :data="results">
      <o-table-column field="location" label="Location" v-slot="{ row }">
        {{ row.display_name }}
      </o-table-column>
      <o-table-column v-slot="{ row }">
        <o-button @click="addInMap(row)">Add</o-button>
      </o-table-column>
    </o-table>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { search } from '@/services/nominatim'
import { LatLng } from 'leaflet'
import { usePlacesStore } from '@/stores/places'
import { mapStores } from 'pinia'

export default defineComponent({
  data() {
    return {
      toSearch: '',
      results: [] as Array<any>
    }
  },
  computed: {
    ...mapStores(usePlacesStore)
  },
  methods: {
    search() {
      console.log(`Cerca su nominatim ${this.toSearch}`)
      const result = search(this.toSearch)
      result.then((a) => {
        this.results = a
      })
    },
    addInMap(nominatimPlace: any) {
      const markerPosition = new LatLng(nominatimPlace.lat, nominatimPlace.lon)
      this.placesStore.newPlace(markerPosition)
      this.placesStore.centerMap = [nominatimPlace.lat, nominatimPlace.lon]
    }
  }
})
</script>

<style>
.search-container {
  display: flex;
  flex-direction: column;
}
</style>
