<template>
  <div class="grid-container">
    <nav-bar />
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import NavBar from './components/NavBar.vue'
import { usePlacesStore } from './stores/places'
import { mapStores } from 'pinia'

export default defineComponent({
  created() {
    console.log('mappa mounted')
    this.placesStore.loadAll()
  },
  computed: {
    ...mapStores(usePlacesStore)
  },
  components: {
    NavBar
  }
})
</script>

<style scoped>
.grid-container {
  display: flex;
  width: 1024px;
  height: 800px;
}
</style>
